RewriteEngine On
# Questo file fa in modo che, se la richiesta non è ad un percorso esistente, la redirige a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
