<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirige tutte le richieste a index.php
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
    
    # Previne l'accesso diretto a file .php all'interno di src
    RewriteRule ^src/.*\.php$ - [R=404,L]

    
    
</IfModule>