html, body {
    height: 100vh; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}    
    
.main {
    display: flex;
    flex-grow: 1; 
    overflow: hidden; 
}

.contenutoMain {
    flex-grow: 1;
    max-height: 100%;
    overflow-y: auto; 
    padding: 20px;
    margin: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divInfo {
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 10px;
    width: 60%;
    margin-bottom: 25px;
}

.divBottoni {
    display: flex;
    flex-direction: row;
    gap:10px;
    margin-top: 10px;
    width: 50%;
    margin-bottom: 25px;
}

form {
    width:100%;
    display: flex;
}

.container input {
    width: 400px;
    height:30px;
    font-size: 14px;
}

table {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #aaa;
}

th, td {
    padding: 10px;
    border: 1px solid #aaa;
    text-align: left;
}

th {
    background-color: #0077cc;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #d8eaff;
}


.contenutoMain h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}

.divBottoni button {
    width: 140px;
    height: 50px;
    border-radius: 6px;
    border: none;
    color: white;
    font-size: medium;
}

#accetta {
    background-color: #008037;
}

#accetta:hover {
    background-color:rgb(0, 66, 29);
}

#rifiuta {
    background-color: red;
}

#rifiuta:hover {
    background-color:rgb(128, 0, 0);
}